header {
    padding: 1.2em;
    text-align: center;
    background-color: aquamarine;
    color: black;
}

main {
    background-color: antiquewhite;
    padding: 1.2em;
    border: 5px solid #1560bd;
}

p {
    font-size: 1.2em;
    color: black;
}

 