h1 {
    color: black;
}
head {
    padding: 1em;
    text-align: center;
    background-color: white;
    color: black;
}
body {
    background-color: white;
    padding: 1em;
    border: 5px solid salmon;
}
p {
    color: black;
}
@media print {
    main {
        border: none;
    }
}