h1 {
    color: red;
}
head {
    padding: 1em;
    text-align: center;
    background-color: aqua;
    color: black;
}
body {
    background-color: aquamarine;
    padding: 1em;
    border: 5px solid salmon;
}
p {
    color: tomato;
}